body {
    background-color: #F8F8F8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#img {
    width: 250px;
    display: block;
    margin: 0px auto;
    margin-bottom: 150px;
}

#pokebola {
    width: 50px;
}

#searchBar {
    width: 550px;
    height: 40px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#ListaPokemons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.pokemon {
    display: grid;
    text-align: center;
    width: 215px;
    box-shadow: 12px 21px 22px 0px rgba(0,0,0,0.1);
    margin: 3px;
    padding: 18px;
}

.modal {
    display: none;
    width: 50%; /* Largura total */
    height: 80%; /* Altura total */
    background-color: white; /* Cor de fundo do Modal */
    background-color: rgba(255, 255, 255, 0.918); /* Cor de fundo do Modal com opacidade */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#selection img {
    display: flex;
    margin-left: 40%;
    margin-bottom: 50px;
    border: 3px solid #000000;
}